Model Sim/4to1MUX.v
Model Sim/4to1MUX.v.bak
Model Sim/full_add_BL.v
Model Sim/full_add_BL.v.bak
Model Sim/full_add_tb.v
Model Sim/full_add_tb.v.bak
Model Sim/full_sub_tb.v
Model Sim/full_sub_tb.v.bak
Model Sim/full_sub.v
Model Sim/full_sub.v.bak
Model Sim/Logic_Gates.cr.mti
Model Sim/Logic_Gates.mpf
Model Sim/task1A_F.v
Model Sim/task1A_F.v.bak
Model Sim/task1A_F'.v
Model Sim/task1A_F'.v.bak
Model Sim/task1B_F.v
Model Sim/task1B_F.v.bak
Model Sim/task1B_F'.v
Model Sim/task1B_F'.v.bak
Model Sim/task2A.v
Model Sim/task2A.v.bak
Model Sim/vsim.wlf
Model Sim/work/_info
Model Sim/work/@m@u@x4to1/_primary.dat
Model Sim/work/@m@u@x4to1/_primary.dbs
Model Sim/work/@m@u@x4to1/_primary.vhd
Model Sim/work/@m@u@x4to1/verilog.prw
Model Sim/work/@m@u@x4to1/verilog.psm
Model Sim/work/_temp/vlog4kyhmf
Model Sim/work/_temp/vlog6z0vhi
Model Sim/work/_temp/vlog7stbje
Model Sim/work/_temp/vlog11t548
Model Sim/work/_temp/vlog93i15f
Model Sim/work/_temp/vlogatr94e
Model Sim/work/_temp/vlogb5ctej
Model Sim/work/_temp/vlogcy5zfx
Model Sim/work/_temp/vlogddstzz
Model Sim/work/_temp/vlogfdiavm
Model Sim/work/_temp/vloghi298v
Model Sim/work/_temp/vloghkw4wa
Model Sim/work/_temp/vlogk79f1g
Model Sim/work/_temp/vlogrfddaf
Model Sim/work/_temp/vlogs1q2hi
Model Sim/work/_temp/vlogsa9na7
Model Sim/work/_temp/vlogwc2vw5
Model Sim/work/_temp/vlogyiv768
Model Sim/work/full_add/_primary.dat
Model Sim/work/full_add/_primary.dbs
Model Sim/work/full_add/_primary.vhd
Model Sim/work/full_add/verilog.prw
Model Sim/work/full_add/verilog.psm
Model Sim/work/full_add_@b@l/_primary.dat
Model Sim/work/full_add_@b@l/_primary.dbs
Model Sim/work/full_add_@b@l/_primary.vhd
Model Sim/work/full_add_@b@l/verilog.prw
Model Sim/work/full_add_@b@l/verilog.psm
Model Sim/work/full_add_tb/_primary.dat
Model Sim/work/full_add_tb/_primary.dbs
Model Sim/work/full_add_tb/_primary.vhd
Model Sim/work/full_add_tb/verilog.prw
Model Sim/work/full_add_tb/verilog.psm
Model Sim/work/full_sub/_primary.dat
Model Sim/work/full_sub/_primary.dbs
Model Sim/work/full_sub/_primary.vhd
Model Sim/work/full_sub/verilog.prw
Model Sim/work/full_sub/verilog.psm
Model Sim/work/full_sub_tb/_primary.dat
Model Sim/work/full_sub_tb/_primary.dbs
Model Sim/work/full_sub_tb/_primary.vhd
Model Sim/work/full_sub_tb/verilog.prw
Model Sim/work/full_sub_tb/verilog.psm
Model Sim/work/half_add/_primary.dat
Model Sim/work/half_add/_primary.dbs
Model Sim/work/half_add/_primary.vhd
Model Sim/work/half_add/verilog.prw
Model Sim/work/half_add/verilog.psm
Model Sim/work/task1@a@f/_primary.dat
Model Sim/work/task1@a@f/_primary.dbs
Model Sim/work/task1@a@f/_primary.vhd
Model Sim/work/task1@a@f/verilog.prw
Model Sim/work/task1@a@f/verilog.psm
Model Sim/work/task1@a@fo/_primary.dat
Model Sim/work/task1@a@fo/_primary.dbs
Model Sim/work/task1@a@fo/_primary.vhd
Model Sim/work/task1@a@fo/verilog.prw
Model Sim/work/task1@a@fo/verilog.psm
Model Sim/work/task1@b@f/_primary.dat
Model Sim/work/task1@b@f/_primary.dbs
Model Sim/work/task1@b@f/_primary.vhd
Model Sim/work/task1@b@f/verilog.prw
Model Sim/work/task1@b@f/verilog.psm
Model Sim/work/task1@b@fo/_primary.dat
Model Sim/work/task1@b@fo/_primary.dbs
Model Sim/work/task1@b@fo/_primary.vhd
Model Sim/work/task1@b@fo/verilog.prw
Model Sim/work/task1@b@fo/verilog.psm
Model Sim/work/_info
Model Sim/Logic_Gates.cr.mti
Model Sim/Logic_Gates.mpf
Model Sim/work/_info
Model Sim/work/_info
Model Sim/Logic_Gates.cr.mti
Model Sim/Logic_Gates.mpf
DSA/Queue/1.c
Model Sim/work/_info
Model Sim/work/_temp/vlog2ta5z2
Model Sim/work/_temp/vlogb90yfh
Model Sim/work/_temp/vlogkeni7d
Model Sim/work/_temp/vlogsn2h4a
Model Sim/work/_temp/vlogysy66m
Model Sim/work/_temp/vlogyyszdt
Model Sim/work/logic1/_primary.dat
Model Sim/work/logic1/_primary.dbs
Model Sim/work/logic1/verilog.prw
Model Sim/work/logic1/verilog.psm
Model Sim/work/logic2/_primary.dat
Model Sim/work/logic2/_primary.dbs
Model Sim/work/logic3/_primary.dat
Model Sim/work/logic3/_primary.dbs
Model Sim/work/logic4/_primary.dat
Model Sim/work/logic4/_primary.dbs
Model Sim/work/maxterm/_primary.dat
Model Sim/work/maxterm/_primary.dbs
Model Sim/work/maxterm/_primary.vhd
Model Sim/work/maxterm/verilog.prw
Model Sim/work/maxterm/verilog.psm
Model Sim/work/minterm/_primary.dat
Model Sim/work/minterm/_primary.dbs
Model Sim/work/minterm/_primary.vhd
Model Sim/work/minterm/verilog.prw
Model Sim/work/minterm/verilog.psm
.gitignore
Model Sim/work/logic1/_primary.dat
Model Sim/work/logic1/_primary.dbs
Model Sim/work/logic1/verilog.prw
Model Sim/work/logic1/verilog.psm
Model Sim/work/logic2/_primary.dat
Model Sim/work/logic2/_primary.dbs
Model Sim/work/logic4/_primary.dat
Model Sim/work/logic4/_primary.dbs
Model Sim/Logic_Gates.cr.mti
Model Sim/Logic_Gates.mpf
Model Sim/task2Bb_max.v
Model Sim/task2Bb_max.v.bak
Model Sim/task2Bb_min.v
Model Sim/task2Bb_min.v.bak
Model Sim/work/_info
Model Sim/work/logic1/_primary.dat
Model Sim/work/logic1/_primary.dbs
Model Sim/work/logic1/verilog.prw
Model Sim/work/logic1/verilog.psm
Model Sim/work/logic2/_primary.dat
Model Sim/work/logic2/_primary.dbs
Model Sim/work/logic3/_primary.dat
Model Sim/work/logic3/_primary.dbs
Model Sim/work/logic4/_primary.dat
Model Sim/work/logic4/_primary.dbs
.gitignore
Model Sim/Logic_Gates.cr.mti
Model Sim/Logic_Gates.mpf
Model Sim/work/_info
Model Sim/work/logic1/_primary.dat
Model Sim/work/logic1/_primary.dbs
Model Sim/work/logic1/verilog.prw
Model Sim/work/logic1/verilog.psm
Model Sim/work/logic2/_primary.dat
Model Sim/work/logic2/_primary.dbs
Model Sim/work/logic3/_primary.dat
Model Sim/work/logic3/_primary.dbs
Model Sim/work/logic4/_primary.dat
Model Sim/work/logic4/_primary.dbs
Model Sim/work/logic4/_primary.dat
Model Sim/work/logic4/_primary.dbs
Model Sim/Logic_Gates.cr.mti
Model Sim/Logic_Gates.mpf
Model Sim/work/_info
Model Sim/work/logic1/_primary.dat
Model Sim/work/logic1/_primary.dbs
Model Sim/work/logic1/verilog.prw
Model Sim/work/logic1/verilog.psm
Model Sim/work/logic2/_primary.dat
Model Sim/work/logic2/_primary.dbs
Model Sim/work/logic3/_primary.dat
Model Sim/work/logic3/_primary.dbs
Model Sim/work/logic4/_primary.dat
Model Sim/work/logic4/_primary.dbs
Model Sim/Logic_Gates.cr.mti
Model Sim/Logic_Gates.mpf
Model Sim/MUX(1)4_1.v
Model Sim/MUX(1)4_1.v.bak
Model Sim/mux(2)4_1.v
Model Sim/mux(2)4_1.v.bak
Model Sim/mux4_1.v
Model Sim/mux4_1.v.bak
Model Sim/work/_info
Model Sim/work/@m@u@x4_1/_primary.dat
Model Sim/work/@m@u@x4_1/_primary.dbs
Model Sim/work/@m@u@x4_1/_primary.vhd
Model Sim/work/@m@u@x4_1/verilog.prw
Model Sim/work/@m@u@x4_1/verilog.psm
Model Sim/work/_temp/vlogkmw2jm
Model Sim/work/logic1/_primary.dat
Model Sim/work/logic1/_primary.dbs
Model Sim/work/logic2/_primary.dat
Model Sim/work/logic2/_primary.dbs
Model Sim/work/logic3/_primary.dat
Model Sim/work/logic3/_primary.dbs
Model Sim/work/logic4/_primary.dat
Model Sim/work/logic4/_primary.dbs
Model Sim/work/mus4_1/_primary.dat
Model Sim/work/mus4_1/_primary.dbs
Model Sim/work/mus4_1/_primary.vhd
Model Sim/work/mus4_1/verilog.prw
Model Sim/work/mus4_1/verilog.psm
Model Sim/work/mux4_1_cs/_primary.dat
Model Sim/work/mux4_1_cs/_primary.dbs
Model Sim/work/mux4_1_cs/_primary.vhd
Model Sim/work/mux4_1_cs/verilog.prw
Model Sim/work/mux4_1_cs/verilog.psm
Model Sim/Logic_Gates.cr.mti
Model Sim/Logic_Gates.mpf
Model Sim/work/_info
Model Sim/work/logic1/_primary.dat
Model Sim/work/logic1/_primary.dbs
Model Sim/work/logic2/_primary.dat
Model Sim/work/logic2/_primary.dbs
Model Sim/work/logic3/_primary.dat
Model Sim/work/logic3/_primary.dbs
Model Sim/work/logic4/_primary.dat
Model Sim/work/logic4/_primary.dbs
Model Sim/work/logic4/_primary.dat
Model Sim/work/logic4/_primary.dbs
Model Sim/work/logic3/_primary.dat
Model Sim/work/logic3/_primary.dbs
Model Sim/work/logic1/_primary.dat
Model Sim/work/logic1/_primary.dbs
Model Sim/decoder.v
Model Sim/decoder.v.bak
Model Sim/fullSubDe-Mux.v
Model Sim/fullSubDe-Mux.v.bak
Model Sim/Logic_Gates.cr.mti
Model Sim/Logic_Gates.mpf
Model Sim/RippleCarryAdder.v
Model Sim/RippleCarryAdder.v.bak
Model Sim/work/_info
Model Sim/work/@demultiplexer/_primary.dat
Model Sim/work/@demultiplexer/_primary.dbs
Model Sim/work/@demultiplexer/_primary.vhd
Model Sim/work/@demultiplexer/verilog.prw
Model Sim/work/@demultiplexer/verilog.psm
Model Sim/work/decoder24_behaviour/_primary.dat
Model Sim/work/decoder24_behaviour/_primary.dbs
Model Sim/work/decoder24_behaviour/_primary.vhd
Model Sim/work/decoder24_behaviour/verilog.prw
Model Sim/work/decoder24_behaviour/verilog.psm
Model Sim/work/fulladder/_primary.dat
Model Sim/work/fulladder/_primary.dbs
Model Sim/work/fulladder/_primary.vhd
Model Sim/work/fulladder/verilog.prw
Model Sim/work/fulladder/verilog.psm
Model Sim/work/logic1/_primary.dat
Model Sim/work/logic1/_primary.dbs
Model Sim/work/logic2/_primary.dat
Model Sim/work/logic2/_primary.dbs
Model Sim/work/logic3/_primary.dat
Model Sim/work/logic3/_primary.dbs
Model Sim/work/logic4/_primary.dat
Model Sim/work/logic4/_primary.dbs
Model Sim/work/rippe_adder/_primary.dat
Model Sim/work/rippe_adder/_primary.dbs
Model Sim/work/rippe_adder/_primary.vhd
Model Sim/work/rippe_adder/verilog.prw
Model Sim/work/rippe_adder/verilog.psm
Model Sim/Logic_Gates.cr.mti
Model Sim/Logic_Gates.mpf
Model Sim/work/_info
Model Sim/work/logic1/_primary.dat
Model Sim/work/logic1/_primary.dbs
Model Sim/work/logic2/_primary.dat
Model Sim/work/logic2/_primary.dbs
Model Sim/work/logic3/_primary.dat
Model Sim/work/logic3/_primary.dbs
Model Sim/work/logic4/_primary.dat
Model Sim/work/logic4/_primary.dbs
